body {
    background: linear-gradient(to bottom, #add8e6, #f0f8ff);
    font-family: 'Impart', 'Poppins';
}

header h2{
    text-decoration: none;
    font-weight: bold;
    color: #007AF3;
    font-size: 2em;
}

  
  
  .hero {
    
    display: flex;
    justify-content: space-between;

    .col {
        display: flex;
        justify-content: space-between;
        padding-left: 80px;
        padding-bottom: 40px;
        padding-right: 40px;


        p {
            font-size: 1.5em;
            text-align: center;
            padding-left: 40px;
        }
    }



    .text {
        h2{
            font-size: 2.5em;
            line-height: 1.3em;
            margin-top: .2em;
            padding-left: 40px;
        }
    
    }
}


  .container {
    min-height: 10vh;
    display: flex;
    width: 100%;

    margin: 0;
    padding: 10%;
    

    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
   font-size: 16px;
   text-align: center;

   form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 0%;
    padding-bottom: 2em;
  }

  .img {
    width: 200px;            /* Initial size */
    height: auto;
    transition: transform 0.5s ease-in-out; /* Smooth transition for the animation */
}

/* Apply the transformation when hovering over the image */
.img:hover {
    transform: translateY(50%) scale(1.5); /* Move 50% down and increase the size by 1.5x */
}

.img {
    margin-right: 30%;
  }

  
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }

  input[type="submit"] {
    display: block;
    width: 40%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
    cursor: pointer;          /* Change cursor on hover */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for glow effect */
  }

  input[type="submit"]:hover {
    box-shadow: 0 0 15px 5px orange; /* Orange glow effect */
    background-color: #45a049;       /* Slightly darker green on hover */
}

.footer {
    background-color: #333; /* Dark background color */
    color: white;            /* White text */
    text-align: center;      /* Center the text */
    padding: 10px;           /* Padding for footer */
    font-size: 14px;         /* Smaller font size */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;        /* Pushes the footer to the bottom */
}